<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
</head>

<div class="app-layout">
  <div class="app-layout-lef">
    <!-- Configuración de Filtros -->
    <div class="filter-panel">
      <h2 class="filter-title">🖼️ Filtros de Imagen</h2>

      <form class="filter-form" (submit)="onSubmit($event)">
        <div class="filter-config">
          <!-- Selección de tipo de filtro -->
          <div class="filter-options">
            <!-- Subida de imagen -->
            <div class="file-upload-group">
              <p class="file-name" *ngIf="selectedFile">{{ selectedFile.name }}</p>
              <label class="custom-file-label">
                Seleccionar Imagen
                <input type="file" (change)="onFileSelected($event)" required>
              </label>
            </div>

            <!-- Selección del tipo de filtro -->
            <label class="form-label">🎛️ Filtro:</label>
            <div class="radio-list" *ngFor="let filter of filters">
              <label>
                <input type="radio" name="selectedFilter" [value]="filter.value" [(ngModel)]="selectedFilter" required>
                {{ filter.label }}
              </label>
            </div>

            <!-- CPU / GPU -->
            <label class="form-label">⚙️ Procesamiento:</label>
            <div class="radio-list">
              <label><input type="radio" name="processingMode" [(ngModel)]="useCPU" [value]="true"> CPU</label>
              <label><input type="radio" name="processingMode" [(ngModel)]="useCPU" [value]="false"> GPU</label>
            </div>
          </div>

          <!-- Parámetros del filtro -->
          <div class="filter-params" [ngClass]="{'two-columns': selectedFilter === 'cartoon'}">

            <!-- Columna 1: común a todos -->
            <div class="param-column">
              <div class="param-group"
                *ngIf="selectedFilter === 'emboss' || selectedFilter === 'cartoon' || selectedFilter === 'edges'">

                <label class="form-label">🔧 Tamaño del Kernel:</label>
                <input type="number" [(ngModel)]="kernelSize" name="kernelSize" (input)="validateKernelSize()" required
                  class="input-number">
                <p *ngIf="kernelWarning" class="input-warning">⚠ El kernel debe ser impar y mayor que 1</p>

                <!-- Fila para Block X y Block Y -->
                <div class="form-row">
                  <div class="form-block">
                    <label class="form-label">🧩 Block X (hilos):</label>
                    <input type="number" [(ngModel)]="blockX" (ngModelChange)="updateGridValues()" name="blockX" min="1"
                      required class="input-number">
                  </div>

                  <div class="form-block">
                    <label class="form-label">🧩 Block Y (hilos):</label>
                    <input type="number" [(ngModel)]="blockY" (ngModelChange)="updateGridValues()" name="blockY" min="1"
                      required class="input-number">
                  </div>
                </div>

                <!-- Fila para Grid X y Grid Y -->
                <div class="form-row">
                  <div class="form-grid">
                    <label class="form-label">🧱 Grid X (bloques):</label>
                    <input type="number" [(ngModel)]="gridX" name="gridX" min="1" required class="input-number">
                  </div>

                  <div class="form-grid">
                    <label class="form-label">🧱 Grid Y (bloques):</label>
                    <input type="number" [(ngModel)]="gridY" name="gridY" min="1" required class="input-number">
                  </div>
                </div>
              </div>
            </div>

            <!-- Columna 2: solo para Filtro Cartoon -->
            <div class="param-column" *ngIf="selectedFilter === 'cartoon'">
              <div class="param-group">
                <label class="form-label">📐 Sigma:</label>
                <input type="number" [(ngModel)]="sigma" name="sigma" step="0.1" min="0.1" required
                  class="input-number">

                <label class="form-label">🎨 Quant Step:</label>
                <input type="number" [(ngModel)]="quantStep" name="quantStep" min="1" required class="input-number">

                <label class="form-label">🚫 Threshold:</label>
                <input type="number" [(ngModel)]="threshold" name="threshold" step="0.1" min="0" required
                  class="input-number">
              </div>
            </div>

          </div>

        </div>

        <button type="submit" class="btn-submit">✨ Aplicar Filtro</button>
      </form>
    </div>
    <!-- *ngIf="previewImage !== null -->
    <div *ngIf="resultImage !== null" class="stats">
      <div class="icon-container">

        <!-- Tiempo Total de Ejecución -->
        <div class="icon-item"><i class="bi bi-hourglass-split"></i>
          <p *ngIf="executionTime !== null"><strong>Tiempo Total de Ejecución:</strong> {{ executionTime.toFixed(2) }}
            segundos</p>
        </div>

        <!-- Tiempo del Filtro -->
        <div class="icon-item"><i class="bi bi-stopwatch-fill"></i>
          <p><strong>Tiempo del Filtro:</strong> {{ filterExecutionTime?.toFixed(2) }} segundos</p>
        </div>

        <!-- Consumo de Memoria -->
        <div class="icon-item"><i class="bi bi-memory"></i>
          <p *ngIf="memoryUsage !== null"><strong>Consumo de Memoria:</strong> {{ memoryUsage.toFixed(2) }} MB</p>
        </div>

        <!-- Tamaño de la Imagen Original -->
        <div class="icon-item"><i class="bi bi-image"></i>
          <p><strong>Tamaño de la Imagen Original:</strong> {{ originalImageSize }} bytes</p>
        </div>

        <!-- Tamaño de la Imagen Procesada -->
        <div class="icon-item"><i class="bi bi-image-fill"></i>
          <p><strong>Tamaño de la Imagen Procesada:</strong> {{ processedImageSize }} bytes</p>
        </div>

        <!-- GPU Utilizada -->
        <div class="icon-item"><i class="bi bi-gpu-card"></i>
          <p *ngIf="gpuInfo"><strong>GPU Utilizada:</strong> {{ gpuInfo }}</p>
        </div>

        <!-- Memoria GPU Usada -->
        <div class="icon-item"><i class="bi bi-memory"></i>
          <p *ngIf="gpuMemory">
            <strong>Memoria GPU Usada:</strong>
            {{ (gpuMemory[0] / (1024 * 1024)).toFixed(2) }} MB
          </p>
        </div>

        <!-- Memoria GPU Usada -->
        <div class="icon-item"><i class="bi bi-memory"></i>
          <p *ngIf="gpuMemory">
            <strong>Memoria GPU Total:</strong>
            {{ (gpuMemory[1] / (1024 * 1024)).toFixed(2) }} MB
          </p>
        </div>

        <!-- Uso de la CPU -->
        <div class="icon-item"><i class="bi bi-cpu-fill"></i>
          <p *ngIf="cpuUsage !== null"><strong>Uso de la CPU:</strong> {{ cpuUsage.toFixed(2) }}%</p>
        </div>

        <!-- Dimensiones de imagen -->
        <div *ngIf="imageDimensions !== null" class="icon-item"><i class="bi bi-aspect-ratio-fill"></i>
          <p><strong>Dimensiones de la Imagen:</strong> {{ imageDimensions[0] }} x {{ imageDimensions[1] }}</p>
        </div>

        <!-- Total de pixeles -->
        <div class="icon-item"><i class="bi bi-aspect-ratio-fill"></i>
          <p><strong>Total de Píxeles Procesados:</strong> {{ totalPixels }}</p>
        </div>
      </div>



      <!-- Datos de ejecución -->
      <!-- <div *ngIf="executionTime !== null">
        <h4>Información de Ejecución</h4>
        <p><strong>Tiempo Total de Ejecución:</strong> {{ executionTime.toFixed(2) }} segundos</p>
        <p><strong>Tiempo del Filtro:</strong> {{ filterExecutionTime?.toFixed(2) }} segundos</p>
        <p *ngIf="memoryUsage !== null"><strong>Consumo de Memoria:</strong> {{ memoryUsage?.toFixed(2) }} MB</p>
        <p><strong>Tamaño de la Imagen Original:</strong> {{ originalImageSize }} bytes</p>
        <p><strong>Tamaño de la Imagen Procesada:</strong> {{ processedImageSize }} bytes</p>
      </div> -->

      <!-- Detalles de hardware -->
      <!-- <div *ngIf="gpuInfo || cpuUsage !== null">
        <h4>Detalles del Hardware</h4>
        <p *ngIf="gpuInfo"><strong>GPU Utilizada:</strong> {{ gpuInfo }}</p>
        <p *ngIf="gpuMemory">
          <strong>Memoria GPU Usada:</strong>
          {{ (gpuMemory[0] / (1024 * 1024)).toFixed(2) }} MB
          (total: {{ (gpuMemory[1] / (1024 * 1024)).toFixed(2) }} MB)
        </p>
        <p *ngIf="cpuUsage !== null"><strong>Uso de la CPU:</strong> {{ cpuUsage.toFixed(2) }}%</p>
      </div> -->

      <!-- Características de la imagen -->
      <!-- <div *ngIf="imageDimensions && totalPixels !== null">
        <h4>Características de la Imagen</h4>
        <p><strong>Dimensiones de la Imagen:</strong> {{ imageDimensions[0] }} x {{ imageDimensions[1] }}</p>
        <p><strong>Total de Píxeles Procesados:</strong> {{ totalPixels }}</p>
      </div> -->
    </div>
  </div>

  <!-- Indicador de carga -->
  <!-- <div *ngIf="isLoading" class="loading-box">
    <p>Procesando imagen... ⏳</p>
  </div> -->

  <!-- Vista de imagen -->
  <div class="image-preview" *ngIf="previewImage || resultImage">
    <div class="preview-box">
      <h3>🖼️ Imagen {{ showFiltered ? 'Filtrada' : 'Original' }}:</h3>
      <!-- previewImage -->
      <img [src]="showFiltered ? resultImage : previewImage" class="preview-img">
      <div class="toggle-group">
        <button class="btn-toggle-original" [ngClass]="{'btn-active': !showFiltered, 'btn-inactive': showFiltered}"
          (click)="showFiltered = false" [disabled]="!previewImage">
          ORIGINAL
        </button>

        <button class="btn-toggle-filter" [ngClass]="{'btn-active': showFiltered, 'btn-inactive': !showFiltered}"
          (click)="showFiltered = true" [disabled]="!resultImage">
          FILTRO
        </button>
      </div>
    </div>
  </div>
</div>

<div class="loading-overlay" *ngIf="isLoading">
  <div class="spinner"></div>
</div>